<html>

<style>

 h1{

   color:red;

   }


</style>

<body>

<h1> Hello , Home Page </h1>



<div id = "para">

     <p id="para-1"> For a long time—the majority of my youth—I was a slacker. My primary skill was finding new ways to 	
		There was one semester in particular that summed up the folly of those years: I took only 9 credit hours and played Halo 3 for the whole semester. Literally. I did little else besides play that game. I skipped class whenever possible as well. It was a waste to devote that much time to a video game. I told myself I was "making progress" by being in college.
		I've changed so much since then, and my internal change has created a better set of results
     </p>

     <p id="para-2"> For a long time—the majority of my youth—I was a slacker. My primary skill was finding new ways to 	There was one semester in particular that summed up the folly of those years: I took only 9 credit hours and 	
		I've changed so much since then, and my internal change has created a better set of results
     </p>


   </div>

<%= link_to "About", pages_about_path %>

</body>

</html>
